.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #444;
  padding: 10px 30px 10px 0px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.nav-links {
  background-color: #444;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
}
.link{
  color: white;
}
.link:hover {
  color: #337AB7;
  text-decoration: none;
}
.link:visited{
  color: #337AB7;
  text-decoration: none;
}

.icons{
  float:right;
  
  margin-left:5px;
  padding: 6px;
}

.list{
  margin-top: 20px;
}

.updateform{
  float:right;
}

.strike{
  text-decoration: line-through;
}

.button{
  margin-left:5px;
}

.itemName{
  margin-left: 20px;
}
